<div class="container">
<h1>Lists#new</h1>
  <p>Crée une nouvelle liste avec tes films dedans</p>

  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name, label: false, placeholder: "coucou" %>
    <%= f.submit %>
  <% end %>
  <br>
  <%= link_to "Go Back", lists_path, class:"btn btn-light"  %>
</div>
